.address__link,
.address__mail,
.address__tel {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.address__item {
				@media screen and (max-width: 1199px) {
							display: flex;
									justify-content: center;
										align-items: center;
					}

margin-bottom: 8px;
		@media screen and (min-width: 1200px) {
				margin-bottom: 9px;
			}
	
}

.address__item:last-child {
	margin-bottom: 0px;
}

.address__link,
.address__mail,
.address__tel {
	font-style: normal;
	font-size: 14px;
	line-height: calc(24/14);
	color: var(--main-background);
	text-align: center;

	transition: color var(--anim-fast);

			@media screen and (min-width: 1200px) {
					text-align: left;
				}
}

.address__mail,
.address__tel {
	color: rgba(255, 255, 255, 0.6);
}

.address__link:hover,
.address__link:focus,
.address__mail:hover,
.address__mail:focus,
.address__tel:focus,
.address__tel:hover {
	color: var(--accent-color);
}