.contact {
	display: none;
			@media screen and (min-width: 768px) {
					display: flex;
					flex-direction: column;
				}

		@media screen and (min-width: 1200px) {
			flex-direction: row;
		
		}
						margin-left: auto;

}

.contact .link {
	padding-top: 5px;
	padding-bottom: 5px;
}

.contact .contact__item:not(:last-child) {
				@media screen and (min-width: 768px) {
						margin-right: 0;
					}

				@media screen and (min-width: 1200px) {
					margin-right: 50px;
				}
}

.contact__mail,
.contact__tel {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	// align-items: center;
	gap: 10px;

	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--main-text-color);

	transition: color var(--anim-fast);
}

.contact__mail:hover,
.contact__mail:focus,
.contact__tel:focus,
.contact__tel:hover {
	color: var(--accent-color);
}

.contact--icon {
	fill: currentColor;
}