.filter__list {
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
}

.filter__btn {
	padding: 6px 25px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(26 / 16);
	text-align: center;
	color: var(--title-text-color);
	letter-spacing: 0.03em;
	background: var(--light-background);
	border-radius: 4px;
	border: none;
	cursor: pointer;

	transition: background var(--anim-fast), box-shadow var(--anim-fast), color var(--anim-fast);
}

.filter__item:not(:last-child) {
	margin-right: 8px;
}

.filter__btn:hover,
.filter__btn:focus {
	background: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	color: var(--main-background);
}