.modal {
  min-height: 581px;
  width: 528px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--anim-fast), opacity var(--anim-fast), scale 500ms linear;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
	
}

.button-close__icon {
  transition: fill var(--anim-fast);
}

.button-close:hover .button-close__icon {
  fill: var(--accent-color);
}

.modal__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: #757575;
  margin-bottom: 4px;
}

.modal-form-title {
  display: block;
  align-items: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal-form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal__field {
  padding-left: 42px;
  width: 100%;
  height: 40px;

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--anim-fast);
&:focus{
		border-color: var(--accent-color);
	}
}


.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--anim-fast);
}

.modal__field:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
&:focus {
		border-color: var(--accent-color);
	}
}

.modal__message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal__agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
}

.agreement__link {
  text-decoration-line: underline;
  color: #2196f3;
	margin-left: 5px;
}

.agreement__icons {
	margin-right: 7px;
}

.agreement--desc {
		display: flex;
			align-items: center;
			justify-content: center;
  user-select: none;

}

.uncheck {
  opacity: 1;
  transition: opacity var(--anim-fast);
}

.check {
  opacity: 0;
  transition: opacity var(--anim-fast);
}

.agreement__checkbox:checked ~ .agreement__icons .uncheck {
  opacity: 0;
}

.agreement__checkbox:checked + .agreement__icons .check {
  opacity: 1;
}

.agreement__checkbox:focus-visible + .agreement__icons {
  box-shadow: 0 0 0 2px var(--accent-color);
}

.modal__btn {
  margin: 0 auto;
  min-width: 200px;
}
