.nav {
	display: flex;
	align-items: center;
}

.nav__list {
	display: flex;
}

.nav__item:not(:last-child) {
	margin-right: 50px;
}

.nav__link {
	position: relative;
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	font-weight: 500;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--title-text-color);
	transition: color var(--anim-fast);

	&:hover,
	&:focus {
			color: var(--accent-color);
		}
	
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: 0;
	
			transform: translateX(-50%) scaleX(0.3);
	
			display: block;
			width: 100%;
			height: 4px;
			border-radius: 2px;
	
			background-color: var(--accent-color);
			opacity: 0;
	
			transition: transform var(--anim-fast), opacity var(--anim-fast);
		}
	
		&:hover:after,
		&:focus:after {
			transform: translateX(-50%) scaleX(1);
			opacity: 1;
		}

				&.current {
					color: var(--accent-color);
				}
}


.current.nav__link::after {
	opacity: 1;
	transform: translateX(-50%);
}