.portfolio__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	margin-right: calc(-1 * var(--indent));
	margin-bottom: calc(-1 * var(--indent));
}

.portfolio__item {
	flex-basis: calc(100% / var(--item) - var(--indent));
}

.portfolio__subtitle {
	margin-bottom: 4px;

	font-weight: 700;
	font-size: 18px;
	line-height: calc(36 / 18);
	letter-spacing: 0.06em;
	color: var(--title-text-color);
}

.portfolio__description {
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.03em;
	color: var(--main-text-color);
}

.portfolio__description--border {
	padding: 20px 24px;
	border: 1px solid var(--shadow);
	border-top: none;
}

.portfolio__link {
	display: block;

	transition: box-shadow var(--anim-fast);

	&:hover,
		&:focus {
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
				1px 4px 6px rgba(0, 0, 0, 0.16);
		}
}



.portfolio-thumb {
	position: relative;
	overflow: hidden;
}

.portfolio__overlay {
	position: absolute;
	top: 0;
	left: 0;

	transform: translateY(100%);

	width: 100%;
	height: 100%;
	padding-left: 24px;
	padding-right: 24px;
	display: flex;
	align-items: center;
	user-select: none;

	background-color: rgba(33, 150, 243, 0.9);

	transition: transform var(--anim-fast);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
	transform: translateY(0);
}

.portfolio__overlay-text {
	font-size: 18px;
	line-height: calc(28 / 18);
	color: #ffffff;
}