.team {
	background: var(--light-background);
}

.team__title {
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	text-align: center;

	color: var(--title-text-color);

	margin-bottom: 50px;
}

.team__list {
	display: flex;
	gap: 30px;
}

.team__list .team__item {
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	border-radius: 0px 0px 4px 4px;
}

.team--description {
	background-color: var(--main-background);
	padding: 30px 0;
}

.team__name {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: calc(19 / 16);
	text-align: center;
	color: var(--title-text-color);
}

.team__speciality {
	margin-bottom: 16px;

	font-size: 16px;
	line-height: calc(19 / 16);
	text-align: center;
	color: var(--main-text-color);
}

