:root {
	/* Text colors */
	--main-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--logo-text: #000000;

	/* BG colors */
	--main-background: #ffffff;
	--dark-backgrount: #2f303a;
	--light-background: #f5f4fa;

	/* Others */
	--shadow: #eeeeee;
	--indent: 30px;
	--item: 3;
	--anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}